<nav class="navbar navbar-extend-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../../static/images/wt-logo.svg" title="Logo" alt="Logo" th:src="@{../../images/wt-logo.svg}" />
    </a>
    <form th:action = "@{/logout}" method = "post">
      <input class="btn btn-primary" type = "submit" value = "Sign Out"/>
    </form>
  </div>
  </nav>
  <nav>
  <div class="container">
    <ul>
      <li><a href="/books">WT library</a></li>
      <div sec:authorize="hasAnyAuthority('1')">
        <li><a href="/users">Users</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/users/add-user">Add user</a></li>
        <li><a href="/books/create">Add book</a></li>
      </div>
      <div sec:authorize="hasAnyAuthority('2')">
        <li><a href="/user">User</a></li>
      </div>
    </ul>
  </div>
</nav>
