<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Working Talent Library - Confirm Reservation</title>

  <!-- Bootstrap CSS Import -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous" />
  <!-- General CSS -->
  <link rel="stylesheet" href="../../static/style.css" th:href="@{../style.css}" />
</head>
<body>
  <!--______________Navigation bar______________-->
  <div th:insert="@{../fragments/navbar.html}"></div>
  <!--______________End of Navigation bar______________-->
  

  <!-- ______________Main page view______________ -->
  <div class="container">
    <br>
    <h1>Do you want to confirm this reservation?</h1>

    <form action="#" th:action="@{create}" th:object="${reservation}" method="post">
      <label for="id">Book ID: </label>
      <input type="text" th:field="*{bookId}" id="bookId" placeholder="Book ID"/>

      <label for="userId">User ID: </label>
      <input type="text" th:field="*{userId}" id="userId" placeholder="User ID"/>
      
      <input type="submit" value="Add Reservation" />
    </form>
  </div>
  <!-- ______________End of main page view______________ -->

  <!-- Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous">
  </script>
</body>
</html>
